
{% extends "base.html.j2" %}

{% block head %}

    {{ super() }}
    
    <script type='text/javascript'>
        FIRST_GIRL_ID = {{ first_girl.id }} 
        SECOND_GIRL_ID = {{ second_girl.id }}
        CONTEST_ID = {{ contest.id }}
        PRIVATE_KEY = {{ private_key }}
    </script>
    
    <script type='text/javascript' src='/resources/scripts/bet.js'></script>
    <link rel='stylesheet' type='text/css' href='/resources/styles/op-img.css'>
{% endblock %}

{% block body %}

    <div class='jumbotron'>
        <div class='row'>
            <div class='img-wrapper col-lg-6 col-sm-12 d-block mx-auto'>
                <img  class='img rounded' style='width: 100%; height: auto;' src='https://germanexpert.ru/wp-content/uploads/2018/01/Friedrich-Wilhelm-Nietzsche-750x350.jpg'>
            </div>
        </div>

        <div class='row mt-2'>  
            <div class='center-block col-lg-8 col-sm-12 mx-auto'>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Двух вещей хочет настоящий мужчина: опасности и игры. И потому он ищет женщину, как самую опасную игрушку.</p>
                    <footer class="blockquote-footer"><cite>Фридрих Ницше</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class='row col-6 mx-auto justify-content-center'>
        <h1 class='mt-5'>Ставки</h1>
    </div>

    <div class='row col-12'>
        <div class='card-deck text-center mt-3 col-8 mx-auto'>
            <div class='card' id='first-girl-card'>
                <div class='op-container'>
                    <img src="{{ first_girl.photo }}" class="card-img-top op-image" alt="...">
                    <div class='op-middle bg-secondary text-white pl-1 pr-1'><h2>Нажмите чтобы сделать ставку</h2></div>
                </div>

                <div class='card-footer'>
                    {{ first_girl.name }} (x {{ k1 }})
                </div>
            </div>

            <div class='card' id='second-girl-card'>
                <div class='op-container'>
                    <img src="{{ second_girl.photo }}" class="card-img-top op-image" alt="...">
                    <div class='op-middle bg-secondary text-white pl-1 pr-1'><h2>Нажмите чтобы сделать ставку</h2></div>
                </div>

                <div class='card-footer'>
                    {{ second_girl.name }} (x {{ k2 }})
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 col-12">
        <div class="progress col-8 mx-auto">
        {% if k1 == '&infin;' and k2 == '&infin;' %} 
            <div class="progress-bar" role="progressbar" saria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            <div class="progress-bar bg-success" role="progressbar" saria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        {% elif k1 == '&infin;' %}
            <div class="progress-bar" role="progressbar" saria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
            <div class="progress-bar bg-success" role="progressbar" saria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 99%"></div>
        {% elif k2 == '&infin;' %} 
            <div class="progress-bar" role="progressbar" saria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width: 99%"></div>
            <div class="progress-bar bg-success" role="progressbar" saria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
        {% elif True  %}
            <div class="progress-bar" role="progressbar" saria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 * k2 / (k1 + k2) }}%"></div>
            <div class="progress-bar bg-success" role="progressbar" saria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 * k1 / (k1 + k2) }}%"></div>
        {% endif %}
        </div>
    </div>
    
    <div class='row col-12'>
        <div class="input-group mt-3 pb-3 col-8 mx-auto">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> $ </span>
            </div>
            <input id='coins' type="text" class="form-control" placeholder="Сумма ставки">
        </div>
    </div>

    <div class='row col-12'>
        <div class="input-group pb-3 col-8 mx-auto">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> > </span>
            </div>
            <input id='private-key' type="password" class="form-control" placeholder="Ваш приватный ключ">
        </div>
    </div>

    <!-- Alerts form r there -->

    <div class="modal" tabindex="-1" role="dialog" id='success-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Ваша ставка успешно отправлена в обработку.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='wrong-key-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы ввели некорретный приватный ключ.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='extra-vote-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы уже сделали ставку.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='less-money-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>У вас не хватает денег.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='wrong-coins-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы ввели некорректную сумму ставки.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
