{% extends "base.html.j2" %}

{% block head %}

    {{ super() }}
    
    <script type='text/javascript'>
        FIRST_GIRL_ID = {{ first_girl.id }} 
        SECOND_GIRL_ID = {{ second_girl.id }}
        CONTEST_ID = {{ contest_id }}
        PRIVATE_KEY = {{ private_key }}
    </script>
    
    <script type='text/javascript' src='/resources/scripts/contest.js'></script>
    <link rel='stylesheet' type='text/css' href='/resources/styles/op-img.css'>
{% endblock %}

{% block body %}

    <div class='jumbotron'>
        <div class='row'>
            <div class='img-wrapper col-lg-6 col-sm-12 d-block mx-auto'>
                <img  class='img rounded' style='width: 100%; height: auto;' src='http://www.cablook.com/wp-content/uploads/2016/04/sade.jpg'>
            </div>
        </div>

        <div class='row mt-2'>  
            <div class='center-block col-sm-12 col-lg-8 mx-auto'>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Там, где люди будут равными, где не будет существовать различий, - никогда не будет существовать счастья.</p>
                    <footer class="blockquote-footer"><cite>Маркиз Де Сад, первый садист</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class='row col-6 mx-auto justify-content-center'>
        <h1 class='mt-5'>Соревнование</h1>
    </div>

    <div class='row col-12'>
        <div class='card-deck text-center mt-3 col-8 mx-auto'>
            <div class='card' id='first-girl-card'>
                <div class='op-container'>
                    <img src="{{ first_girl.photo }}" class="card-img-top op-image" alt="...">
                    <div class='op-middle bg-secondary text-white pl-1 pr-1'><h2>Нажмите чтобы голосовать</h2></div>
                </div>
                <div class='card-footer'>
                    {{ first_girl.name }}
                </div>
            </div>

            <div class='card' id='second-girl-card'>
                <div class='op-container'>
                    <img src="{{ second_girl.photo }}" class="card-img-top op-image" alt="...">
                    <div class='op-middle bg-secondary text-white pl-1 pr-1'><h2>Нажмите чтобы голосовать</h2></div>
                </div>

                <div class='card-footer'>
                    {{ second_girl.name }}
                </div>
            </div>
        </div>
    </div>

    <div class='row col-12'>
        <div class="input-group mt-3 pb-3 col-8 mx-auto">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> > </span>
            </div>
            <input id='private-key' type="password" class="form-control" placeholder="Ваш приватный ключ">
        </div>
    </div>

    <!-- Alerts form r there -->

    <div class="modal" tabindex="-1" role="dialog" id='success-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Ваш голос успешно отправлен в обработку.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='wrong-key-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы ввели некорретный приватный ключ.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id='extra-vote-alert'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы уже голосовали.</p>
          </div>
          <div class="modal-footer">
            <a class='btn btn-primary' class='btn btn-primary' href='/'>На главную</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
