{% extends "base.html.j2" %}

{% block head %}
    {{ super() }}
    <script type='text/javascript' src='/resources/scripts/index.js'></script>
{% endblock %}

{% block body %}
    <div class='jumbotron text-center'>
        <div class='row'>
            <div class='img-wrapper col-lg-6 col-sm-12 d-block mx-auto'>
                <img  class='img rounded' style='width: 100%; height: auto;' src='http://www.izbrannoe.com/upload/resize_cache/iblock/98c/705_391_2/98c13dcb42bf7427cef55b1c16771529.jpg'>
            </div>
        </div>

        <div class='row mt-2'>  
            <div class='center-block col-lg-8 col-sm-12 mx-auto'>
                <blockquote class="blockquote text-center">
                <p class="mb-0">Низкорослый, узкоплечий, широкобедрый пол мог назвать прекрасным только отуманенный половым побуждением рассудок мужчины: вся его красота и кроется в этом побуждении.</p>
                <footer class="blockquote-footer"><cite>Артур Шопенгауэр, убеждённый женоненавистник</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class='row col-6 mx-auto justify-content-center'>
        <h1 class='mt-5'>Актуальные соревнования:</h1>
    </div>

    {% if not active_contests %}
        <div class='col-12 container text-center'>
            <p class='text-muted'>Пока-что тут ничего нет, но скоро оно обязательно появится...</p>
        </div>
    {% endif %}

    {% for contest in active_contests %}

    <div class='row col-12 mt-4'>  
        <div class='card-deck col-lg-8 mx-auto pb-4 pt-4 bg-light'>

            <div class='card border-dark ml-4'>
                <img src="{{ contest.first_girl.photo }}" class="card-img-top">
                <div class='card-footer text-center'>{{ contest.first_girl.name }}</div>
            </div>
            
            <div class='card text-center border-dark ml-4'>
                <div class='card-header'>
                    Сорвенование {{ contest.id }} 
                </div>

                <div class='card-body'>
                    <a href='/contest/{{ contest.id }}' class='btn btn-lg btn-primary'>Голосовать!</a>
                    
                    <div class='card-text mt-3'>
                        <h4>До конца соревнования осталось <span class='countdown badge badge-primary' endtime='{{ contest.end.isoformat() }}'></span></h4>
                    </div>
                </div>
            </div>            

            <div class='card border-dark ml-4'>
                <img src="{{ contest.second_girl.photo }}" class="card-img-top">
                <div class='card-footer text-center'>{{ contest.second_girl.name }}</div>
            </div>
        </div>
    </div>
    
    {% endfor %}

    <div class='row col-6 mx-auto justify-content-center'>
        <h1 class='mt-5'>Принимаются ставки:</h1>
    </div>

    {% if not bet_contests %}
        <div class='col-12 container text-center'>
            <p class='text-muted'>Пока-что тут ничего нет, но скоро оно обязательно появится...</p>
        </div>
    {% endif %}

    {% for contest in bet_contests %}

    <div class='row col-12 mt-4'>  
        <div class='card-deck col-lg-8 col-sm-12 mx-auto pb-4 pt-4 bg-light'>

            <div class='card border-dark ml-4'>
                <img src="{{ contest.first_girl.photo }}" class="card-img-top">
                <div class='card-footer text-center'>{{ contest.first_girl.name }}</div>
            </div>
            
            <div class='card text-center border-dark ml-4'>
                <div class='card-header'>
                    Сорвенование {{ contest.id }} 
                </div>

                <div class='card-body'>
                    <a href='/bet/{{ contest.id }}' class='btn btn-lg btn-primary'>Ставка!</a>
                    
                    <div class='card-text mt-3'>
                        <h4>До начала соревнования осталось <span class='badge badge-primary waiting-countdown' begintime='{{ contest.begin.isoformat() }}'></span></h4>
                    </div>
                </div>
            </div>            

            <div class='card border-dark ml-4'>
                <img src="{{ contest.second_girl.photo }}" class="card-img-top">
                <div class='card-footer text-center'>{{ contest.second_girl.name }}</div>
            </div>
        </div>
    </div>    
    {% endfor %}
{% endblock %}
