{% extends "base.html.j2" %}
{% block body %}

    <div class='jumbotron'>
        <div class='row'>
            <div class='img-wrapper col-lg-6 col-sm-12 d-block mx-auto'>
                <img  class='img rounded' style='width: 100%; height: auto;' src='https://germanexpert.ru/wp-content/uploads/2018/01/Friedrich-Wilhelm-Nietzsche-750x350.jpg'>
            </div>
        </div>

        <div class='row mt-2'>  
            <div class='center-block col-lg-8 col-sm-12 mx-auto'>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Что падает, то нужно ещё толкнуть.</p>
                    <footer class="blockquote-footer"><cite>Фридрих Ницше</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class='row col-8 mt-5 mx-auto justify-content-center'>
        <h1>Рейтинг</h1>
    </div>

    <div class='container col-12'>
        <div class='table-responsive'>
            <table class='table pb-5'>
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Instagram</th>
                    <th scope="col">ELO</th>
                </thead>

                <tbody>
                    {% for girl in girls %}
                    <tr>
                    <th scope='row'>{{ girl.rating }}</th>
                    <td>{{ girl.name }}</td>
                    <td><a href='http://www.instagram.com/{{ girl.instagram }}'>{{ girl.instagram }}</a>
                    <td>{{ girl.ELO_rounded }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
